*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#70c5ce, #70c5ce);
}
canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}